.nav-item {
  display: inline-flex;
  padding: 2%;
  color: white;
}

a {
  display: block;
  background-color: inherit;
  align-content: center;
}

html {
  background-color: #6fbd91;
}

body {
 
  align-items: center;
  text-align: center;

}
p {
  margin-bottom: 5%;
}
img {
  border-radius: 50%;
}
hr {
  color: #000000;
}
.gray {
  background-color: gray;
  color: white;

}