nav {
  display: inline-flex;
}

a {
  display: block;
  background-color: inherit;
  align-content: center;
}

html {
  background-color: #6fbd91;
}

body {
  display: block;
  align-items: center;
  text-align: center;

}
img {
  border-radius: 100%;
}